{% extends "main_forms/base.html" %}

{% block form_block %}
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Номер договора</th>
        <th>Стоимость договора</th>
        <th>Оплачено</th>
        <th>Долг</th>
        <th>Завод</th>
        <th>Замерщик</th>
        <th>Замерщик</th>
        <th>ФИО клиента</th>
        <th>Телефон</th>
        <th>Дата доставки по договору</th>
        <th>Дата доставки заказа</th>
      </tr>
    </thead>
    <tbody>
    {% for data in table_data %}
        <tr>
          <td>{{ data.contract_number }}</td>
          <td>{{ data.price }}</td>
          <td>{{ data.prepayment }}</td>
          <td>{{ data.debt }}</td>
          <td>{{ data.factory }}</td>
          <td>{{ data.measurer }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.customer_name }}</td>
          <td>{{ data.phone }}</td>
          <td>{{ data.delivery_date_by_contract }}</td>
          <td>{{ data.delivery_date }}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<div class="resize-handle"></div>
{% endblock %}