{% extends "main_forms/base.html" %}

{% block form_block %}

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Номер договора</th>
        <th>Адрес</th>
        <th>ФИО клиента</th>
        <th>Телефон</th>
        <th>Замерщик</th>
        <th>Цена</th>
        <th>Предоплата</th>
        <th>Долг</th>
        <th>Дата монтажа</th>
        <th>Дата доставки по договору</th>
        <th>Замерщик</th>
        <th class="action-field"><b>Действия</b></th>
      </tr>
    </thead>
    <tbody>
      {% for row in table_data|slice:'::-1' %}
      <tr>
        <td>{{ row.contract_number }}</td>
        <td>{{ row.address }}</td>
        <td>{{ row.customer.customer_name }}</td>
        <td>{{ row.customer.phone }}</td>
        <td>{{ row.measurer }}</td>
        <td>{{ row.price }}</td>
        <td>{{ row.prepayment }}</td>
        <td>{{ row.debt }}</td>
        <td>{{ row.installation_date }}</td>
        <td>{{ row.delivery_date_by_contract }}</td>
        <td>{{ row.measurer }}</td>
        <!--
        Поле с кнопками действий, доступными только суперпользователям.
        -->
        {% if user.is_superuser %}
        <td class="action-field">
          <form method="POST" action="{% url 'delete_item' model_name='Contract' row_id=row.id redirect_name='create_contract'  %}">
            {% csrf_token %}
            <button class="action-field" type="submit">
              <i class="material-icons md-18" style="margin: 0;">delete</i>
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="resize-handle"></div>

{% if user.is_superuser %}
<form action="{% url 'create_contract' %}" method="post">
  {% csrf_token %}
  {{ form.as_div }}
  <br>
  <button class="sumbit-button col-dark-1" type="submit" name="submit">Отправить</button>
</form>
{% endif %}
{% endblock %}
