{% extends "main_forms/base.html" %}

{% block form_block %}

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>ФИО замерщика</th>
      </tr>
    </thead>
    <tbody>
      {% for row in table_data|slice:'::-1' %}
      <tr>
        <td>{{ row.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="resize-handle"></div>

<!--
Блок формы:
Форма доступна только суперпользователям.
-->
{% if user.is_superuser %}
<!-- Тут нужно назначить редирект на обработчик POST запроса. -->
<form action="{% url 'create_measurer' %}" method="post">
  {% csrf_token %}
  {{ form.as_div }}
  <br>
  <button class="sumbit-button col-dark-1" type="submit" name="submit">Отправить</button>
</form>
{% endif %}
{% endblock %}
