{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <!-- Шрифты с Google Fonts. -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- Стили сайта. -->
    <link rel="stylesheet" href="{% static 'main_forms/css/style.css'%}" type="text/css">

    <!-- Иконки для меню. -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

    <style>
        #{{ this_page }} > a {
            background-color: #85BBBB;
            box-shadow: 5px 5px 10px #00000012;
            color: white;
        }
    </style>
    <div class="inv-block tohideandshow"></div>

    <nav>
        <div class='menu'>
            <div id="contracts"><a href="/forms/contracts"><i class="material-icons md-18">sticky_note_2</i>Договоры</a></div>
            <div id="orders"><a href="/forms/orders"><i class="material-icons md-18">shopping_cart</i>Заказы</a></div>
            <div id="customers"><a href="/forms/customers"><i class="material-icons md-18">group</i>Клиенты</a></div>
            <div id="installations"><a href="/forms/installations"><i class="material-icons md-18">build</i>Монтажи</a></div>
            <div id="metrics"><a href="/forms/metrics"><i class="material-icons md-18">square_foot</i>Замеры</a></div>
        </div>
        <!-- /.menu -->
    </nav>

    <header>
        <div class="top-bar">
            <div class="open-menu-button" onclick="openMenu(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <input type="text" id="search-input" placeholder="Поиск" style="margin-left: 20px;">

            <div class="accman-btn">
                {% if user.is_authenticated %}
                    <button class="sumbit-button"><a href={{ logout_url }} class="accman-link">Выход</a></button>
                {% else %}
                    <button class="sumbit-button"><a href={{ login_url }} class="accman-link">Войти</a></button>
                    <button class="sumbit-button"><a href={{ register_url }} class="accman-link">Регистрация</a></button>
                {% endif %}
                
            </div>
        </div>
        <!-- /.topBar -->
    </header>

    <main>
        <div id="form-n-table">
            <!-- Название формы. -->
            <h2 style="margin-left: 41px; margin-bottom: 0px;">{{ page_label }}</h2>
            <!-- Стили. -->
            <link rel="stylesheet" href="{% static 'main_forms/css/table.css'%}" type="text/css">
            <link rel="stylesheet" href="{% static 'main_forms/css/forms.css'%}" type="text/css">
            
            <div class="form-block">
                {% block form_block %}
                {% endblock %}
            </div>
            
            <!-- /.form-block -->
        </div>
        <!-- /#form-n-table -->
    </main>

    <script src="{% static 'main_forms/scripts/resizer.js'%}"></script>
    <script src="{% static 'main_forms/scripts/search.js'%}"></script>
    <script src="{% static 'main_forms/scripts/menu_manager_2.js'%}"></script>
    <!-- <script src="{% static 'main_forms/menu_manager.js'%}"></script> -->
</body>
</html>