{% extends "main_forms/base.html" %}

{% block form_block %}

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Номер договора</th>
        <th>Адрес</th>
        <th>ФИО клиента</th>
        <th>Телефон</th>
        <th>Цена</th>
        <th>Предоплата</th>
        <th>Долг</th>
        <th>Дата монтажа</th>
        <th>Дата доставки по договору</th>
      </tr>
    </thead>
    <tbody>
      {% for row in table_data|slice:'::-1' %}
      <tr>
        <td>{{ row.contract_number }}</td>
        <td>{{ row.address }}</td>
        <td>{{ row.customer.customer_name }}</td>
        <td>{{ row.customer.phone }}</td>
        <td>{{ row.price }}</td>
        <td>{{ row.prepayment }}</td>
        <td>{{ row.debt }}</td>
        <td>{{ row.installation_date }}</td>
        <td>{{ row.delivery_date_by_contract }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="resize-handle"></div>

<form action="{% url 'create_contract' %}" method="post">
  {% csrf_token %}
  {{ form.as_div }}
  <button class="sumbit-button" type="submit" name="submit">Отправить</button>
</form>
{% endblock %}
