<table>
  <thead>
    <tr>
      <th>Номер договора</th>
      <th>Стоимость договора</th>
      <th>Оплачено</th>
      <th>Долг</th>
      <th>Завод</th>
      <th>ФИО клиента</th>
      <th>Телефон</th>
      <th>Дата доставки по договору</th>
      <th>Доставка завода</th>
      <th>Дата монтажа</th>
      <th>Стоимость монтажа</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
      <tr>
        <td>{{ row.Номер_договора }}</td>
        <td>{{ row.Стоимость_договора }}</td>
        <td>{{ row.Оплачено }}</td>
        <td>{{ row.Долг }}</td>
        <td>{{ row.Завод }}</td>
        <td>{{ row.ФИО_клиента }}</td>
        <td>{{ row.Телефон }}</td>
        <td>{{ row.Дата_доставки_по_договору }}</td>
        <td>{{ row.Доставка_завода }}</td>
        <td>{{ row.Дата_монтажа }}</td>
        <td>{{ row.Стоимость_монтажа }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
