{% extends "main_forms/base.html" %}

{% block form_block %}

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Номер договора</th>
        <th>Монтажник</th>
        <th>Адрес</th>
        <th>Дата монтажа</th>
        <th>Кол-во м<sup>2</sup></th>
        <th>Стоимость м<sup>2</sup></th>
        <th>Кол-во м/п</th>
        <th>Стоимость м/п</th>
        <th>Доп. работы</th>
        <th>Сумма</th>
        <th class="action-field"><b>Действия</b></th>
      </tr>
    </thead>
    <tbody>
      {% for row in table_data|slice:'::-1' %}
      <tr>
        <td>{{ row.contract }}</td>
        <td>{{ row.installer }}</td>
        <td>{{ row.contract.address }}</td>  <!-- Адрес, подтянутый из договоров. -->
        <td>{{ row.installation_date }}</td>
        <td>{{ row.square_meters }}</td>
        <td>{{ row.square_meters_price }}</td>
        <td>{{ row.linear_meters }}</td>
        <td>{{ row.linear_meters_price }}</td>
        <td>{{ row.additional_works }}</td>
        <td>{{ row.total_amount }}</td>
        <td class="action-field">
          {% include "main_forms/snippet/action_buttons.html" %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="resize-handle"></div>

{% if user.is_superuser %}
<form action="{% url 'create_installation' %}" method="post">
  {% csrf_token %}
  {{ form.as_div }}
  <br>
  <button class="sumbit-button col-dark-1" type="submit" name="submit">Отправить</button>
</form>
{% endif %}
{% endblock %}
