{% extends "main_forms/base.html" %}

{% block form_block %}

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Замерщик</th>
        <th>Адрес</th>
        <th>Дата замера</th>
        <th>Контакты</th>
        <th>Комментарии</th>
        <th class="action-field"><b>Действия</b></th>
      </tr>
    </thead>
    <tbody>
      {% for row in table_data|slice:'::-1' %}
      <tr>
        <td>{{ row.measurer }}</td>
        <td>{{ row.address }}</td>
        <td>{{ row.metrics_date }}</td>
        <td>{{ row.contacts }}</td>
        <td>{{ row.comments }}</td>
        <td class="action-field">
          <form method="POST" action="{% url 'delete_item' model_name='Metric' row_id=row.id redirect_name='create_metrics'  %}">
            {% csrf_token %}
            <button class="action-field" type="submit">
              <i class="material-icons md-18" style="margin: 0;">delete</i>
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="resize-handle"></div>

{% if user.is_superuser %}
<form action="{% url 'create_metrics' %}" method="post">
  {% csrf_token %}
  {{ form.as_div }}
  <br>
  <button class="sumbit-button col-dark-1" type="submit" name="submit">Отправить</button>
</form>
{% endif %}
{% endblock %}

