{% extends "main_forms/base.html" %}

{% block form_block %}

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Номер договора</th>
        <th>Адрес</th>
        <th>Завод</th>
        <th>Номер заказа</th>
        <th>Стоимость</th>
        <th>Оплата</th>
        <th>Дата доставки от завода</th>
        <th>м<sup>2</sup></th>
        <th>Откосы</th>
        <th class="action-field"><b>Действия</b></th>
      </tr>
    </thead>
    <tbody>
      {% for row in table_data %}
      <tr>
        <td>{{ row.contract.contract_number }}</td>  <!-- Связанный номер договора. -->
        <td>{{ row.contract.address }}</td>  <!-- Связанный адрес из договора. -->
        <td>{{ row.factory }}</td>
        <td>{{ row.order_number }}</td>
        <td>{{ row.price }}</td>
        <td>{{ row.payment }}</td>
        <td>{{ row.delivery_date }}</td>
        <td>{{ row.square_meters }}</td>
        <td>{{ row.slopes }}</td>
        <td class="action-field">

          <form method="POST" action="{% url 'delete_item' model_name='Order' row_id=row.id redirect_name='create_order'  %}">
            {% csrf_token %}
            <button class="action-field" type="submit">
              <i class="material-icons md-18" style="margin: 0;">delete</i>
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="resize-handle"></div>

{% if user.is_superuser %}
<form action="{% url 'create_order' %}" method="post">
  {% csrf_token %}
  {{ form.as_div }}
  <br>
  <button class="sumbit-button col-dark-1" type="submit" name="submit">Отправить</button>
</form>
{% endif %}
{% endblock %}
