{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <!-- Шрифты с Google Fonts. -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <!-- Стили сайта. -->
    <link rel="stylesheet" href="{% static 'main_forms/css/style.css'%}" type="text/css">
</head>
<body>

    <div id="main_block">

        <ul class="menu">
            <li><a href="/forms/contracts">Договора</a></li>
            <li><a href="/forms/orders">Заказы</a></li>
            <li><a href="/forms/clients">Клиенты</a></li>
            <li><a href="/forms/installations">Монтажи</a></li>
            <li><a href="/forms/metrics">Замеры</a></li>
        </ul>
        <!-- /.menu -->

        <div id="form-n-table">

            <div class="search-block" style="background-color: #9999; padding: 12px;">
                <button>добавить запись</button>
                <input type="text" placeholder="Поиск">
                <button>Найти</button>
            </div>
            <!-- /.search-block -->

            <div class="table"></div>
            <!-- /.table -->

            <link rel="stylesheet" href="{% static 'main_forms/css/table.css'%}" type="text/css">
            <link rel="stylesheet" href="{% static 'main_forms/css/forms.css'%}" type="text/css">
            <div class="form">
                {% block form_block %}
                {% endblock %}
            </div>
            <!-- /.form -->
           

            <p>{{ page_name }}</p>

        </div>
        <!-- /#form-n-table -->

    </div>
    <!-- /.main_block -->

</body>
</html>