{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <!-- Шрифты с Google Fonts. -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- Стили сайта. -->
    <link rel="stylesheet" href="{% static 'main_forms/css/style.css'%}" type="text/css">

    <!-- Иконки для меню. -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <style>
        #{{ this_page }} > a {
          background-color: #85BBBB;
          box-shadow: 5px 5px 10px #00000012;
          color: white;
        }
    </style>
    <div id="main_block">
        <div class="menu">
            <div id="contracts"><a href="/forms/contracts"><i class="material-icons md-18">sticky_note_2</i>Договора</a></div>
            <div id="orders"><a href="/forms/orders"><i class="material-icons md-18">shopping_cart</i>Заказы</a></div>
            <div id="customers"><a href="/forms/customers"><i class="material-icons md-18">group</i>Клиенты</a></div>
            <div id="installations"><a href="/forms/installations"><i class="material-icons md-18">build</i>Монтажи</a></div>
            <div id="metrics"><a href="/forms/metrics"><i class="material-icons md-18">square_foot</i>Замеры</a></div>
        </div>
        <!-- /.menu -->

        <div id="form-n-table">

            <div class="search-block" style="background-color: #85bbbb; padding: 12px; box-shadow: -3px 3px 15px #0003;">
                <!-- <button>добавить запись</button> -->
                <input type="text" placeholder="Поиск">
                <button>Найти</button>
            </div>
            <!-- /.table -->

            <link rel="stylesheet" href="{% static 'main_forms/css/table.css'%}" type="text/css">
            <link rel="stylesheet" href="{% static 'main_forms/css/forms.css'%}" type="text/css">
            <div class="form">
                {% block form_block %}
                {% endblock %}
            </div>
            <!-- /.form -->
           

            <p>{{ page_name }}</p>

        </div>
        <!-- /#form-n-table -->

    </div>
    <!-- /.main_block -->


    <script>
        const container = document.querySelector('.table-container');
        const resizeHandle = document.querySelector('.resize-handle');

        let isResizing = false;
        let startY = 0;

        resizeHandle.addEventListener('mousedown', startResize);
        resizeHandle.addEventListener('touchstart', startResize);

        function startResize(e) {
          e.preventDefault();
          isResizing = true;
          startY = e.clientY || e.touches[0].clientY;
        }

        document.addEventListener('mousemove', resize);
        document.addEventListener('touchmove', resize);

        function resize(e) {
          if (!isResizing) return;

          const newY = e.clientY || e.touches[0].clientY;
          const deltaY = newY - startY;
          const newHeight = container.offsetHeight + deltaY;

          container.style.height = `${newHeight}px`;
          startY = newY;
        }

        document.addEventListener('mouseup', stopResize);
        document.addEventListener('touchend', stopResize);

        function stopResize() {
          isResizing = false;
        }
    </script>
</body>
</html>