{% extends "main_forms/base.html" %}

{% block form_block %}

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Номер договора</th>
        <th>Адрес</th>
        <th>Дата монтажа</th>
        <th>Кол-во м2</th>
        <th>Стоимость м2</th>
        <th>Кол-во м/п</th>
        <th>Стоимость м/п</th>
        <th>Доп. работы</th>
        <th>Сумма</th>
      </tr>
    </thead>
    <tbody>
      {% for row in table_data|slice:'::-1' %}
      <tr>
        <td>{{ row.contract }}</td>
        <td>{{ row.address }}</td>
        <td>{{ row.installation_date }}</td>
        <td>{{ row.square_meters }}</td>
        <td>{{ row.square_meters_price }}</td>
        <td>{{ row.linear_meters }}</td>
        <td>{{ row.linear_meters_price }}</td>
        <td>{{ row.additional_works }}</td>
        <td>{{ row.total_amount }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<form action="{% url 'create_installation' %}" method="post">
  {% csrf_token %}
  {{ form.as_div }}
  <button type="submit" name="submit">Отправить</button>
</form>
{% endblock %}
