{% extends "main_forms/base.html" %}

{% block form_block %}

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Адрес</th>
        <th>Дата замера</th>
        <th>Контакты</th>
        <th>Комментарии</th>
      </tr>
    </thead>
    <tbody>
      {% for row in table_data|slice:'::-1' %}
      <tr>
        <td>{{ row.address }}</td>
        <td>{{ row.metrics_date }}</td>
        <td>{{ row.contacts }}</td>
        <td>{{ row.comments }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<form action="{% url 'create_metrics' %}" method="post">
  {% csrf_token %}
  {{ form.as_div }}
  <button type="submit" name="submit">Отправить</button>
</form>
{% endblock %}
