form > div {
    display: grid;
    margin-bottom: 12px;
}

#form-n-table {
    width: 100%;
}

form {
    width: 40%;
    padding: 0px 25px;
    margin-top: auto;
}

.sumbit-button {
    border-radius: 5px;
    border: none;
    color: white;
    padding: 6px 18px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 0 8px 4px #0000002e;
}

.form-block {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 12px;
    margin-left: 20px;
}