.table-container {
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, .15));
    height: 200px;
    overflow: auto;
    padding-inline: 18px;
    margin-bottom: 12px;
    margin-top: 12px;
    resize: vertical;
}

table {
    /* width: 100%; */
    border-collapse: collapse;
    background-color: #fff;
}

th {
    padding: 8px 12px;
    font-weight: 500;
    text-align: left;
    border: 1px solid #ededed;
}

td {
    min-width: 132px;
    padding: 6px 8px;
    border: 1px solid #f5f5f5;
}

.resize-handle {
    border-radius: 8px;
    height: 6px;
    cursor: ns-resize;
    background-color: #dbdada;
    margin: 0 auto;
    width: 94%;
    touch-action: none;
}


/* Поля действий (пока-что только кнопка удаления) */
th.action-field {
    text-align: center;
    background-color: #b7d8a5;
}

td.action-field {
    min-width: auto;
    background-color: #dcebd4;;
    width: 0px;
}

button.action-field {
    border: none;
    background-color: #e45a5a;
    border-radius: 4px;
    color: white;
}
button.action-field:hover {
    background-color: #ee2c2c;
}
td.action-field form {
    padding: 0;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}